:root {
  --primary-font: "Sora", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --primary-bgc: #10375c;
  --secondary-bgc: #f6fbff;
  --primary-color: #2e80ce;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
}
a,
button {
  font-family: var(--primary-font);
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  --height: 60px;
  display: inline-block;
  height: var(--height);
  border-radius: 999px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: var(--height);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.2s linear;
}
.btn:hover {
  opacity: 0.8;
}
/* Header */
.header {
  padding-top: 18px;
  background-color: var(--primary-bgc);
  position: sticky;
  top: -18px;
}
.header-container {
  padding: 12px 0;
  display: flex;
  align-items: center;
}
.header-logo {
}
.header-nav {
  margin-left: 318px;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-item-link {
  padding: 0 21px;
  color: #c9d2da;
  font-weight: 300;
  display: block;
}
.header-item-link::after {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.header-item-link.active,
.header-item-link:hover {
  color: #fff;
  font-weight: 400;
  position: relative;
}
.header-item-link.active::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 100rem;
  background-color: #fff;
}
.header-auth {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0 28px;
}
.log-in-btn {
  color: #c9d2da;
  font-weight: 300;
}
.sign-up-btn {
  --height: 44px;
  min-width: 104px;
  font-size: 1.6rem;
}
